version: '3.7'

services:
  crawler:
    image: ccc44a22nd/ccc-crawler:latest
    restart: always
    network_mode: host
    environment:
      DATABASE_USER: {{ database_user }}
      DATABASE_PASSWORD: {{ database_password }}
      DATABASE_HOST: {{ groups['COMP90024'][0] }}
      DATABASE_PORT: {{ database_port }}
      NODE_INDEX: {{ play_hosts.index(inventory_hostname) }}
